= simple_form_for([@hotel, @hotel.comments.build]) do |f|
  %p
    = f.label :email
    %br
    = f.input :commenter, label: false, input_html: {value: "#{current_user.email}" }
  %p
    = f.label :comment
    %br
    = f.text_area :body, required: true
  %p
    = f.submit 'Add'
