= simple_form_for([@hotel, @hotel.comments.build]) do |f|
  %p
    = f.label :email
    %br
    = f.input :commenter, prompt: current_user.email, label: false, input_html: {value: "#{current_user.email}" }, disabled: true
  %p
    = f.label :comment
    %br
    = f.text_area :body
  %p
    = f.submit 'Add'
