= simple_form_for([@hotel, @hotel.comments.build]) do |f|
  %p
    = f.label :commenter_email
    %br
    = f.text_field :commenter
  %p
    = f.label :comment
    %br
    = f.text_area :body
  %p
    = f.submit
