%h1 Hotels index
= link_to 'Create new hotel', new_hotel_path
%h1 List of hotels
- @hotels.each do |hotel|
  %table{:border => "1", :cellpadding => "5px"}
    %tr#hotel_title
      %h2= hotel.title
    %tr#hotel_info
      %td#photo
        %img{:alt => ":(", :src => hotel.photo, :width => "200"}/
      %td
        %p
          Rating:
          = hotel.rating
        %p
          Breakfast included:
          \#{ hotel.breakfast==1 ? " Yes" :" No" }
        %p
          Price:#{hotel.price}
      %td
        %p
          =link_to 'Edit', edit_hotel_path(hotel)
          =link_to 'Show', hotel_path(hotel)
