%h1 Hotels index
= link_to 'Create new hotel', new_hotel_path
%p List of hotels
- @hotels.each do |hotel|
  %table{:border => "1", :cellpadding => "5px"}
    %tr#hotel_title
      %h1= hotel.title
    %tr#hotel_info
      %td#photo
        %img{:alt => ":(", :src => hotel.photo, :width => "200"}/
      %td
        %p
          = hotel.rating
        %p
          Breakfast included:
          \#{hotel.breakfast ? "Yes" : "No"}
        %p
          Price:#{hotel.price}
