%h1 New hotel
%p
  = link_to 'Back', hotels_path
= simple_form_for :hotel, :url => hotels_path, :method => :post do |f|
  %table{:border => "1", :cellpadding => "5px"}
    %tr
      %td
        %p
          = f.label :title
      %td
        = f.text_field :title
    %tr
      %td
        = f.label :breakfast
      %td
        = f.input_field :breakfast, as: :boolean, boolean_style: :inline
    %tr
      %td
        = f.label :description
      %td
        = f.text_area :text
    %tr
      %td{:colspan => 2}
        = f.input :photo, as: :url
    %tr
      %td
        = f.label :address
      %td
        = f.text_field :address
    %tr
      %td{:colspan => 2}
        = f.button :submit