%h1 New hotel
= simple_form_for :hotel, :url => hotels_path, :method => :post do |f|
  - if @hotel.errors.any?
    #error_explanation
    /%h2
    /  = pluralize(@hotel.errors.count, "error")
    /  prohibited this article from being saved:
    %ul
      - @hotel.errors.full_messages.each do |msg|
        %li
          ERROR: 
          = msg
  %table{:border => "0", :cellpadding => "5px"}
    %tr
      %td
        %p
          = f.label :title
      %td
        = f.text_field :title
    %tr
      %td
        = f.label :breakfast, required: false
      %td
        = f.input_field :breakfast, as: :boolean, boolean_style: :inline
    %tr
      %td
        = f.label :description, required: false
      %td
        = f.text_area :description
    %tr
      %td
        = f.label :photo, required: false
      %td
        = f.input :photo, as: :file, required: false, label:false
    %tr
      %td
        = f.label :price, required: false
      %td
        = f.input :price, as: :integer, required: false, label:false
    %tr
      %td
        = f.label :country, required: false
      %td
        = f.text_field :country
    %tr
      %td
        = f.label :state, required: false
      %td
        = f.text_field :state
    %tr
      %td
        = f.label :city, required: false
      %td
        = f.text_field :city
    %tr
      %td
        = f.label :street, required: false
      %td
        = f.text_field :street
    %tr
      %td
        = link_to 'Back', hotels_path, {class: 'button-back'}
      %td
        = f.button :submit
        
