%h1
  Hotel show
  %div.hotel
    %img{:alt => "hotel photo", :src => @hotel.photo.thumb, :width => "200"}/
    %div.data
      %h2= @hotel.title
      %p
        Rating:#{@hotel.rating}
      %p
        Breakfast included: #{ @hotel.breakfast==1 ? " Yes" :" No" }
      %p
        Price:#{@hotel.price}
      %p
        Room description:
        = @hotel.description
      %p
        Address:
        = @hotel.country + ", " + @hotel.state + ", "  + @hotel.city + ", "  + @hotel.street
      
      = link_to 'Edit hotel', edit_hotel_path(@hotel), class: 'button'
      = link_to 'Delete hotel', hotel_path, method: :delete, data: { confirm: 'Do you want to delete hotel?' }, class: 'button'

  %h2 Comments
  -if @hotel.comments.length > 0
    = render @hotel.comments
  -else
    %p No comments

  %h2 Add a comment:
  =render 'comments/comment_form'
