%br
%h1
  =@hotel.title
%br
  %div.hotel-full
    - if @hotel.photo.file.nil?
      %img{:alt => "hotel photo", :src => "/img/no-hotel-400.png", :width => "400"}
    - else
      %img{:alt => "hotel photo", :src => @hotel.photo.url, :width => "400"}
    %div.data
      %p= rating_for @hotel, 'rating', disable_after_rate: false, cancel: true
      %p
        Breakfast included: #{ @hotel.breakfast==1 ? " Yes" :" No" }
      - if !@hotel.price.nil?
        %p
          Price for room: #{@hotel.price}$
      - if !@hotel.description.eql?("")
        %p
          Room description:
          = @hotel.description
      - if !(@hotel.country && @hotel.state && @hotel.city && @hotel.street)
        %p
          Address:
          = @hotel.country + ", " + @hotel.state + ", "  + @hotel.city + ", "  + @hotel.street

      - if @hotel.user == current_user
        = link_to edit_hotel_path(@hotel), {class: 'button'} do
          %span
            Edit hotel
        = link_to hotel_path, method: :delete, data: { confirm: 'Do you want to delete hotel?' }, class: 'button' do
          %span
            Delete hotel
%div.comments
  %hr 
  %br
  %h2 Comments
  %br
  
  -if @hotel.comments.length > 0
    = render @hotel.comments
  -else
    %p No comments
  - if user_signed_in?
    
    %br
    %h2 Add a comment:
    %br
    %div.mail-pass
      =render 'comments/comment_form'
  - else
    %strong #{ link_to 'Sign in', new_user_session_path} or #{ link_to 'sign up', new_user_registration_path} to leave the comment
